<div class="row appLinks">
    
     <!--<div class="col-md-offset-2 col-md-8 text-center padding-3 ">
                <p>Are you a provider ?&nbsp;&nbsp; 
                    <label class="switch">
                        <input type="checkbox"  ng-model="yesProvider">
                        <span class="slider round"></span>
                    </label>
                </p>
                <p>Please enter the details below to join the video conferencing room.
            </div>-->

	<div class="col-xs-offset-2 col-xs-8 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 text-center">
		<p>If the Akos App is installed, please click "Join Room"</p>
		<button class="btn btn-primary" ng-click="openApp(yesProvider)">
			JOIN ROOM 
		</button>
		<p>First time using Akos on this device? Please download the Akos app from the App Store by clicking the button below</p>
		<button class="btn btn-primary" ng-click="downloadApp()">
			DOWNLOAD FROM {{appStore}} STORE
		</button>
	</div>
</div>
<style type="text/css">
	.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 22px;
  margin-bottom:-4px !important;
    
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #25406B;;
}

input:focus + .slider {
  box-shadow: 0 0 1px #25406B;;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>