<!--BREADCRUMB START-->
<section class="breadcrumb_start">
<div class="container"><h3 class="m_0 text_white">404 Error</h3></div>
</section>
<!--BREADCRUMB END-->

<!--FORGOT PASSWORD START-->
<div class="container">
<p>&nbsp;</p>
<div class="row">
<p>&nbsp;</p><p>&nbsp;</p>
<div class="col-md-1 col-sm-2 col-sm-offset-3 p_t_30"><i class="fa fa-ambulance fa-fw fa-5x text_red"></i></div>
<div class="col-md-6 col-sm-7 p_l_35">
<p class="text_red fa-3x font_weight_400 p_b_10">404 Error</p> 
<p class="font_size_30 text_red">Page Not Found </p>                                                             
<p class="font_size_22 line_height_25 text-muted">We are Sorry<br> couldn't find what you were looking for.</p>
<p><a ng-href="{{homeUrl}}" class="btn btn-info p_lr_20"><i class="fa fa-undo fa-fw"></i> Back to Home</a></p>
</div>
<div class="clearfix"></div>
<p>&nbsp;</p><p>&nbsp;</p>
</div>

<!--<div class="row">-->
<!--<p>&nbsp;</p><p>&nbsp;</p>-->
<!--<div class="col-md-1 col-sm-2 col-sm-offset-3 p_t_30"><i class="fa fa-server fa-fw fa-5x text-muted"></i></div>-->
<!--<div class="col-md-6 col-sm-7 p_l_35">-->
<!--<p class="text_red fa-3x font_weight_400 p_b_10">500 Error</p> -->
<!--<p class="font_size_30 text-muted">Internal Server Error </p>                                                             -->
<!--<p class="font_size_22 line_height_25 text-muted"><span class="font_weight_700 text_red">oops!</span> Something went wrong...</p>-->
<!--<p><button type="button" class="btn btn-info p_lr_20"><i class="fa fa-undo fa-fw"></i> Back to Home</button></p>-->
<!--</div>-->
<!--<div class="clearfix"></div>-->
<!--<p>&nbsp;</p><p>&nbsp;</p>-->
<!--</div>-->
</div>
<!--FORGOT PASSWORD END-->
