<!-- <div class="bgg-line">
    <img src="image/akos-logo-footer.png" class="img-responsive logoo">
    <span class="logout" ng-click="logout()"> </span>
</div> -->
<div id="container1">


<div class="forgot-pass" ng-controller="passwordCtrl"> 
<div class="col-md-3"></div>
<div class="col-md-6" >
  <div class="row">
      <div class="col-md-4">
        <div id="passsteps1">
          <strong><span class="stepstatus"></span> Enter Email</strong>
          <p class="meta-dir"><i>It should be your login email</i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="passsteps2" class="passstep">
          <strong><span class="stepstatus"></span> Verify Code</strong>
          <p class="meta-dir"><i>Enter the code you received</i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div id="passsteps3">
          <strong><span class="stepstatus"></span> Reset Password</strong>
          <p class="meta-dir"><i>Set a strong password</i></p>
        </div>
      </div>
  </div>

<div class="flowsteps">
<div class="passstep1" ng-show="showstatus1==true">
  <form role="form" ng-submit="verifyemail(staff)">
    <p class="passstep1ins">Please enter your login email address and we will help you reset your password.</p>
    <!-- <input type="text" class="form-control" ng-model="staff.email" name="">
    <div class="passfootersubmit">
      <button class="btn btn-primary btn-sm">Continue</button>
      
    </div> -->
    <div class="input-group" style="max-width: 70%;">
    <input type="text" class="form-control" placeholder="Enter your email Id" ng-model="staff.email" required>
    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        Continue
      </button>
    </div>
  </div>
  <p style="margin-top: 8px;">Back to login    <a href="#/">click here</a></p>
  </form>
</div>

<div class="passstep2" ng-show="showstatus2==true">
   <form role="form" ng-submit="verifyOtp(verificationcode)">
    <p class="passstep1ins">Your verification code has been sent to your email. Once you receive it, enter it in the box provided below:</p>
    <!-- <input type="text" class="form-control" ng-model="verificationcode" name="">
    <div class="passfootersubmit">
      <button class="btn btn-primary btn-sm">Verify</button>
      
    </div> -->
     <div class="input-group" style="max-width: 35%;">
    <input type="text" class="form-control" placeholder="Enter OTP" ng-model="verificationcode"">
    <div class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        Verify
      </button>
    </div>
  </div>
  <p style="margin-top: 8px;">Didn't receive the code or the code didn't work?    <a href="javascript:void(0)" ng-click="resendPassOtp()">Resend</a></p>
  </form>
</div>

<div class="passstep3" ng-show="showstatus3==true">
   <form role="form" ng-submit="resetPassword(newpassword,cnfmpassword)">
    <p class="passstep1ins">Your new password must meet the following criteria:</p>
    <ul>
      <li>Must be at least 8 characters in length</li>
      <li>Must contain at least 1 UPPERCASE character</li>
      <li>Must contain at least 1 lowercase character</li>
      <li>Must contain at least 1 number</li>
      <li>Must contain at least 1 special character</li>
    </ul>
    <div class="row"><div class="col-md-6"><input type="password" class="form-control" id="newpassword" ng-model="newpassword" name="" ng-keyup="checkNewPasswordStrength(newpassword)"></div><div style="" class="col-md-6"><span id="result"></span><p id="strength_check" style="height: 14px;"></p></div></div>
    <div class="row" style="padding-top: 10px;"><div class="col-md-6"><input type="password" class="form-control" id="cnfmpassword" ng-model="cnfmpassword" name="" ng-keyup="matchPassword1(newpassword,cnfmpassword)"></div><div class="col-md-6"><span id="matchPassId" ng-if="matchPassword==1"></i></span></div></div>

    
    
    
    <div class="passfootersubmitverify">
      <button class="btn btn-primary btn-sm" ng-disabled="passwordvalidator!=1">Reset Password</button>
      
    </div>
  </form>
</div>
</div>


</div>

<div class="col-md-3"></div>

</div>




  
</div>
<!-- ============================================ -->
<!-- ============================================ -->
<style>
.form-control{
    font-size:13px;
  }
.logoo{
  padding-top: 15px;
    width: 170px;
    margin-top: 0px;
    margin-left: 30px;
    padding-bottom: 18px;
  }
.bgg-line
{
  background: #25406B;
}
.logout{
    position:absolute;font-size:19px;color:#fff;top:25px;right:37px;
}
.top{
  margin-top: 3%;
}
.font{
  font-size: 19px;
}
.footer
{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Lato-Light";
  background-color:#777777;
  color:#fff;
}
  .search-container {
    padding-left: 10%;
  }
a{
  cursor: pointer !important;
}
@media screen and (max-width: 767px){
.btn{
margin-top:15px;
}
  }
  .mainbox{
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 16%;
  }
  .fields{
    padding-top: 8px;
  }
  .search-heading {
    background: #5f78a0;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    padding-left: 3%;
    height: 36px;
    padding-top: 9px;
    font-size: 14px;
  }
  /*.suggestion {
    position: absolute;
    background: whitesmoke;
    width: 86%;
    z-index: 9;
    padding: 0px;
    padding-left: 3px;
  }
  .autolist:hover{
   background: #337ab7;
   color: white;
    height: 19px;
    width: 100%;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }*/
  .autosuggest {
    position: absolute;
    z-index: 9;
    width: 87%;
  }
  .list-group-item-success {
    background: #f5f5f5;
    padding: 6px;

  }
  .list-group-item-success:hover {
    background: #5c8a8a;
    padding: 6px;
    color: white;


  }
  /*--------CSV Modal Styling----------*/
  .csvModal{ 
    width: 785px;
   }
   .modaltable{
        border: 1px solid #f5eeee;
   }
   .modalthead{
        background: #2a4f6e;
    color: white;
    font-size: 15px;
   }
   /*----------------------------------*/
</style>



 

