<loading></loading>
<div class="row" data-ng-controller="pdfChartingCtrl">
	<div class="col-md-12 text-left">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4 padding-sm">
				<uib-accordion close-others="oneAtATime">
		            <div uib-accordion-group   class="panel-default doc-call-medication-history-class" heading="Demographic Details">
		                <p>Name: {{patientLogData.first_name}} {{patientLogData.last_name}} </p> 
		                <p>Age: {{patientLogData.dateofbirth | findAgeFilter}} yrs</p> 
		                <p>Gender: {{patientLogData.gender}}</p> 
		                <p>State: {{patientLogData.state}} </p> 
		            </div>
		        </uib-accordion>		
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 padding-sm">
				<uib-accordion close-others="oneAtATime">
		            <div uib-accordion-group   class="panel-default doc-call-medication-history-class" heading="Medical History">
		                <p>Medication:
		                    <span ng-repeat="x in patientLogData.medications track by $index">
                            	{{x}} 
                            	<span ng-if="!$last">,</span> 
                        	</span>
		                </p> 
		                <p>Allergies:
		                	<span ng-repeat="x in patientLogData.allergies track by $index">
                            	{{x}} 
                            	<span ng-if="!$last">,</span> 
                        	</span>
		                    
		                </p> 
		                <p>Medical Condition:
		                	<span ng-repeat="x in patientLogData.medical_conditions track by $index">
                            	{{x}} 
                            	<span ng-if="!$last">,</span> 
                        	</span>
		                    
		                </p> 
		            </div>
		        </uib-accordion>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 padding-sm">
				<uib-accordion close-others="oneAtATime">
		            <div uib-accordion-group   class="panel-default " heading="Symptoms">
		                <p>Symptoms:
		                	<span ng-if="patientLogData.Symptoms == undefined"> No Symptoms </span>
		                	<span ng-repeat="x in patientLogData.Symptoms track by $index">
                            	{{x}} 
                            	<span ng-if="!$last">,</span> 
                        	</span>
						</p> 
		            </div>
		        </uib-accordion>
			</div>
		</div>
	</div>
	<div class="col-md-12 text-left before-content">
        <h3>Progress note </h3>
        <div class="row">
        	<div class="col-md-6">
    			<a href="javascript:void(0);" ng-click="openProgressModal(1,progressArray.chiefComplaints)">
		            <u>Chief Complaint  </u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.chiefComplaints}}
		            <span ng-click="removeDialogText(1)" ng-hide="progressArray.chiefComplaints == '' || progressArray.chiefComplaints == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>    		
        	</div>
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(2,progressArray.hpi)">
		            <u>History of Present Illness (HPI)</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.hpi}}
		            <span ng-click="removeDialogText(2)" ng-hide="progressArray.hpi == '' || progressArray.hpi == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(3,progressArray.pastMedicalHistory)" >
		            <u>Past Medical History</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.pastMedicalHistory}}
		            <span ng-click="removeDialogText(3)" ng-hide="progressArray.pastMedicalHistory == '' || progressArray.pastMedicalHistory == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		
        	</div>
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(4,progressArray.pastSurgicalHistory)" >
		            <u>Past Surgical History</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.pastSurgicalHistory}}
		            <span ng-click="removeDialogText(4)" ng-hide="progressArray.pastSurgicalHistory == '' || progressArray.pastSurgicalHistory == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		
        	</div>
        	
        </div>
        <div class="row">
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(5,progressArray.socialHistory)">
		            <u>Social History</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.socialHistory}}
		            <span ng-click="removeDialogText(5)" ng-hide="progressArray.socialHistory == '' || progressArray.socialHistory == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		
        	</div>


        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(6,progressArray.familyHistory)">
		            <u>Family History</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.familyHistory}}
		            <span ng-click="removeDialogText(6)" ng-hide="progressArray.familyHistory == '' || progressArray.familyHistory == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>



        	</div>
        	
        </div>
        <div class="row">
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(7,progressArray.reviewsOfSystemsvalue)" >
		            <u>Review of systems</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.reviewsOfSystemsvalue}}
		            <span ng-click="removeDialogText(7)" ng-hide="progressArray.reviewsOfSystemsvalue == '' || progressArray.reviewsOfSystemsvalue == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>


        	</div>

        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(8,progressArray.physicalExam)" > 
		            <u>Physical Exam</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.physicalExam}}
		            <span ng-click="removeDialogText(8)" ng-hide="progressArray.physicalExam == '' || progressArray.physicalExam == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		


        	</div>
        	
        </div>

        <div class="row">
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(9,progressArray.labs)" >
		            <u>Labs</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.labs}}
		            <span ng-click="removeDialogText(9)" ng-hide="progressArray.labs == '' || progressArray.labs == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		
        	</div>

        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(10,progressArray.imaging)" >
		            <u>Imaging</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.imaging}}
		            <span ng-click="removeDialogText(10)" ng-hide="progressArray.imaging == '' || progressArray.imaging == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		
        	</div>
        	
        </div>

        <div class="row">
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(11,progressArray.otherStudies)" >
		            <u>Other Studies</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.otherStudies}}
		            <span ng-click="removeDialogText(11)" ng-hide="progressArray.otherStudies == '' || progressArray.otherStudies == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		
        	</div>

        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(12,progressArray.assesment)" >
		            <u>Assesment</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.assesment}}
		            <span ng-click="removeDialogText(12)" ng-hide="progressArray.assesment == '' || progressArray.assesment == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
        		
        	</div>

        </div>
        <div class="row">
        	<div class="col-md-6">
        		<a href="javascript:void(0);" ng-click="openProgressModal(13,progressArray.planOfCare)">
		            <u>Plan of Care</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.planOfCare}}
		            <span ng-click="removeDialogText(13)" ng-hide="progressArray.planOfCare == '' || progressArray.planOfCare == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
			</div>

			<div class="col-md-6">
				<a href="javascript:void(0);" ng-click="openProgressModal(14,progressArray.followUp)" >
		            <u>Follow Up</u>
		        </a>

		        <ul class="textwrap">
		            {{progressArray.followUp}}
		            <span ng-click="removeDialogText(14)" ng-hide="progressArray.followUp == '' || progressArray.followUp == undefined || patientLogData.is_call_locked == 1" style="font-weight: bold;">&times;
		      </span>
		        </ul>
			</div>
        	
        </div>
	</div>

	<div class="col-md-12 text-left before-content">
		<h3>Diagnosis Impression</h3>
		<div class="row" ng-if="!patientLogData.is_call_locked">
			<div class="col-md-6">
				<input type="text" autocomplete="off" 
			          class="form-control" ng-keydown="searchgenerateICD($event)" 
			          ng-keyup="searchgenerateICD($event)" ng-keypress="searchgenerateICD($event)" 
			          ng-model="searchDiagnosismodel" id="searchICDText" 
			          placeholder=" Diagnosis">
		        <div class="box-for-diagnosis" ng-if="ICDArray.length >= 1" id="searchboxfordiagnosis">
		            <ul style="list-style:none;padding-left:8px;padding-top:5px;">
		                <li ng-repeat="x in ICDArray">
		                    <span ng-click="adddiagnosis(x[0],x[1])"> {{x[1]}} </span>
		                </li>
		            </ul>
		        </div>		
			</div>
		</div>
		
        <div class="row">
            <div class="col-md-12">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th style="width:38%;">Search Diagnosis</th>
                            <th>ICD Code</th>
                            <th>Description</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in addeddiagnosisArray" class="diagnosisClass">
                        <td> {{x.description}} </td>
                        <td> {{x.icdCode}} </td>
                        <td>
                          <input type="text" style="width: 80%;" id="freetextcallid_{{$index}}"> 
                        </td>
                        <td ng-show="patientLogData.is_call_locked == 0"> 
                          <span ng-click="removeDiagnosis(addeddiagnosis1.icdCode)"> x </span> 
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>  
        <a href="javascript:void(0);"  ng-click="selectCPT()">
          <u>Billing Details </u>
        </a><br>
        <ul style="display:inline-flex;list-style:none;" class="textwrap">
            <li ng-repeat="x in CPTArray  track by $index">
                {{x}} <span ng-show="CPTArray.length >= 1 && patientLogData.is_call_locked == 0" ng-click="removeSelectedCptBilling(x)">&times;</span>
                <span ng-if="!$last">,</span> &nbsp;
            </li>
        </ul>
    </div>
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" ng-click="saveCallRecord(progressArray,addeddiagnosisArray,CPTArray,patientLogData,0)" ng-if="!patientLogData.is_call_locked" >Save</button>
        <button class="btn btn-primary" ng-click="lockEncounter(progressArray,addeddiagnosisArray,CPTArray,patientLogData,1)" ng-if="!patientLogData.is_call_locked">Lock the Encounter</button>
        <button class="btn btn-primary" ng-click="downloadPDF(progressArray,addeddiagnosisArray,CPTArray,patientLogData)" ng-if="!!patientLogData.is_call_locked" >Download PDF</button>
    </div>
</div>



<script type="text/ng-template" id="logChartingSaved.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Data Saved Successfully</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">OK</button>
    </div>
</script>



<script type="text/ng-template" id="progressNoteModal.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">{{modalHead}}</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <div class="form-group">
            <textarea class="form-control" rows="3" ng-model="modalInputValue">{{modalInputValue}}</textarea>
        </div>
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveProgressNote(modalInputValue)">Save</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="CPTProgressNoteModal.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Select CPT Billing</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <p ng-repeat="x in cptBilling" class="justified-text">
          <input type="checkbox" ng-model="cptCode" ng-change="selectedCPTCode(cptCode,x.code)"> {{x.code}} - {{x.description}}

        </p>
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Save</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="progressNoteLockModal.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Lock the Encounter</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <p>
            Are you sure you want to lock the encounter? After locking the encounter, you will not be able to edit, although you can enter addenda as needed. Alternatively, you can save the entries now and come back later to finish charting.
        </p>
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="lockPpoupEncounter()">Lock</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<style type="text/css">
.before-content a,.before-content a u{
	text-decoration: none;
}
ul.textwrap{
	padding-left: 8px;
}
.before-content a u:before{
	 content:"\00bb \2002"; 
}
.box-for-diagnosis{
	position: absolute;
	border: 1px solid #dcdcdc;
	background: #808080;
	width: 95%;
	height: 118px;
	z-index: 9;
	overflow-y: scroll;
	overflow-x: hidden;
}

.box-for-diagnosis ul li span{
	position: relative;
	z-index: 10;
	color:#fff;
}
.padding-sm .panel-body{
	padding:6px;
}
.padding-sm .panel-body p {
	margin-bottom:2px;
}
</style>  