<loading></loading>
<div class="row doc-call">
    <div class="col-md-6">
        <div id="videos">
            <!-- <div id="subscriber"></div>
            <div id="publisher"></div> -->
            <div id="layout"></div>
            <ul class="doc-call-options" id="extraCallOptions">
                <li ng-click="disconnectSession()">
                    <span data-toggle="tooltip" title="End call">
                        <i class="fa fa-phone"></i>        
                    </span>    
                </li>
                <li ng-click="disableDocCallVideo()" id="addPsuedoContent">
                    <span data-toggle="tooltip" title="Switch off your Camera / Switch On your Camera">
                        <i class="fa fa-video-camera" ></i>
                    </span>    
                </li>
                <li ng-click="disableDocCallAudio()" id="addPsuedoContent1">
                    <span data-toggle="tooltip" title="Mute / Unmute
">
                        <i class="fa fa-microphone" ></i>
                    </span>    
                </li>
                <li ng-click="inviteRoomURL()">
                    <span data-toggle="tooltip" title="Invite user to video conference">
                        <i class="fa fa-user-plus" ></i>
                    </span>    
                </li>
                <li ng-click="stopRecording()">
                <span data-toggle="tooltip" title="Start / Stop recording">
                       <i class="fa fa-pause" id="recordingControl"></i>  
                </span>
                </li>
                <li data-toggle="modal" data-target="#myModal">
                <span data-toggle="tooltip" title="Add user by Phone Call">
                       <i class="fa fa-phone"></i>  
                </span>
                </li>

            </ul>
            <!-- <span id="" ng-click="disconnectSession()">
                <i class="fa fa-phone"></i>
            </span>
            <span id="" ng-click="" class="doc-call-video-toggle">  
                <i class="fa fa-video-camera"></i>
            </span> -->
        </div>
    </div>
   <!-- ab test modal for call dial -->
   <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="width: 30%;top:15%;">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <span class="close-phone-dialer" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></span>
          <h4 class="modal-title">Add user by Phone Call</h4>
        </div>
        <div class="modal-body">
          <p><input type="text" name="phoneNumber" ng-model="phoneNumber" id="numberToDial" class="form-control" name="" placeholder="Enter phone number"></p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="makeCall()" data-dismiss="modal" ng-disabled="phoneNumber.length<10 || phoneNumber==undefined" style="color: white;">Call</button>
        </div>
      </div>
      
    </div>
  </div>
   <!-- ============================= -->
   

    <div class="col-md-6" ng-if="isWCStaff == true">
        <div class="col-md-12 doc-call-medical-data">
            <div class="wc-nurse-livecall">
                <p>
                    <span>Name: {{userCallData.first_name}} {{userCallData.last_name}}</span>,
                    <span>Age: {{userCallData.dateofbirth | findAgeFilter}} yrs</span>,
                    <span>Gender: {{userCallData.gender}}</span>,
                    <span>State: {{userCallData.state}}</span>
                </p>
            </div>
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group   class="panel-default doc-call-medication-history-class" heading="Add Notes">
                    <textarea class="form-control" rows="5" ng-model="progressArray.nurseNotes"></textarea>
                    <button class="btn btn-primary" style="margin-top:10px;" 
                    ng-click="saveCallRecord(progressArray,'','',userCallData,0)">
                        Save
                    </button>    
                </div>
            </uib-accordion>
        </div>    
    </div>

    <div class="col-md-6" ng-if="isWCStaff == false">
        <div class="col-md-12 doc-call-medical-data">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group   class="panel-default doc-call-medication-history-class" heading="Demographic Details">
                    <p>Name: {{userCallData.first_name}} {{userCallData.last_name}}</p> 
                    <p>Age: {{userCallData.dateofbirth | findAgeFilter}} yrs</p> 
                    <p>Gender: {{userCallData.gender}}</p> 
                    <p>State: {{userCallData.state}}</p> 
                </div>
            </uib-accordion>
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group   class="panel-default doc-call-medication-history-class" heading="Medical History">
                    <p><strong>Medication:</strong>
                        <span ng-repeat="x in userCallData.pcp_medication track by $index">
                            {{x}} 
                            <span ng-if="!$last">,</span> 
                        </span>
                    </p> 
                    <p><strong>Allergies:</strong>
                        <span ng-repeat="x in userCallData.pcp_allergy track by $index">
                            {{x}} 
                            <span ng-if="!$last">,</span> 
                        </span>
                    </p> 
                    <p><strong>Medical Condition:</strong>
                        <span ng-repeat="x in userCallData.pcp_medical_condition track by $index">
                            {{x}} 
                            <span ng-if="!$last">,</span> 
                        </span>
                    </p> 
                </div>
            </uib-accordion>
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group   class="panel-default doc-call-medication-history-class" heading="Symptoms">
                    <p><strong>Symptoms:</strong>
                        <span ng-repeat="x in userCallData.pcp_symptom track by $index">
                            {{x}} 
                            <span ng-if="!$last">,</span> 
                        </span>
                    </p> 
                </div>
            </uib-accordion>
        </div>

        <div class="col-md-12 doc-call-progress-note">
            <h3>Progress note</h3>
        <a href="javascript:void(0);" ng-click="openProgressModal(1,progressArray.chiefComplaints)">
            <u>Chief Complaint</u>
        </a>

        <ul class="textwrap">
            {{progressArray.chiefComplaints}}
            <span ng-click="removeDialogText(1)" ng-hide="progressArray.chiefComplaints == '' || progressArray.chiefComplaints == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(2,progressArray.hpi)">
            <u>History of Present Illness (HPI)</u>
        </a>

        <ul class="textwrap">
            {{progressArray.hpi}}
            <span ng-click="removeDialogText(2)" ng-hide="progressArray.hpi == '' || progressArray.hpi == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(3,progressArray.pastMedicalHistory)" >
            <u>Past Medical History</u>
        </a>

        <ul class="textwrap">
            {{progressArray.pastMedicalHistory}}
            <span ng-click="removeDialogText(3)" ng-hide="progressArray.pastMedicalHistory == '' || progressArray.pastMedicalHistory == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(4,progressArray.pastSurgicalHistory)" >
            <u>Past Surgical History</u>
        </a>

        <ul class="textwrap">
            {{progressArray.pastSurgicalHistory}}
            <span ng-click="removeDialogText(4)" ng-hide="progressArray.pastSurgicalHistory == '' || progressArray.pastSurgicalHistory == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(5,progressArray.socialHistory)">
            <u>Social History</u>
        </a>

        <ul class="textwrap">
            {{progressArray.socialHistory}}
            <span ng-click="removeDialogText(5)" ng-hide="progressArray.socialHistory == '' || progressArray.socialHistory == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(6,progressArray.familyHistory)">
            <u>Family History</u>
        </a>

        <ul class="textwrap">
            {{progressArray.familyHistory}}
            <span ng-click="removeDialogText(6)" ng-hide="progressArray.familyHistory == '' || progressArray.familyHistory == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(7,progressArray.reviewsOfSystemsvalue)" >
            <u>Review of systems</u>
        </a>

        <ul class="textwrap">
            {{progressArray.reviewsOfSystemsvalue}}
            <span ng-click="removeDialogText(7)" ng-hide="progressArray.reviewsOfSystemsvalue == '' || progressArray.reviewsOfSystemsvalue == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(8,progressArray.physicalExam)" > 
            <u>Physical Exam</u>
        </a>

        <ul class="textwrap">
            {{progressArray.physicalExam}}
            <span ng-click="removeDialogText(8)" ng-hide="progressArray.physicalExam == '' || progressArray.physicalExam == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(9,progressArray.labs)" >
            <u>Labs</u>
        </a>

        <ul class="textwrap">
            {{progressArray.labs}}
            <span ng-click="removeDialogText(9)" ng-hide="progressArray.labs == '' || progressArray.labs == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(10,progressArray.imaging)" >
            <u>Imaging</u>
        </a>

        <ul class="textwrap">
            {{progressArray.imaging}}
            <span ng-click="removeDialogText(10)" ng-hide="progressArray.imaging == '' || progressArray.imaging == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(11,progressArray.otherStudies)" >
            <u>Other Studies</u>
        </a>

        <ul class="textwrap">
            {{progressArray.otherStudies}}
            <span ng-click="removeDialogText(11)" ng-hide="progressArray.otherStudies == '' || progressArray.otherStudies == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" >
            <u>Diagnosis Impression</u>
        </a>

        <input type="text" autocomplete="off" 
          class="form-control" ng-keydown="searchgenerateICD($event)" 
          ng-keyup="searchgenerateICD($event)" ng-keypress="searchgenerateICD($event)" 
          ng-model="searchDiagnosismodel" id="searchICDText" 
          placeholder=" Diagnosis">
        </label>

        <div class="box-for-diagnosis" ng-if="ICDArray.length >= 1" id="searchboxfordiagnosis">
            <ul style="list-style:none;padding-left:8px;padding-top:5px;">
                <li ng-repeat="x in ICDArray">
                    <span ng-click="adddiagnosis(x[0],x[1])"> {{x[1]}} </span>
                </li>
            </ul>
        </div>

        <div class="row" ng-if="addeddiagnosisArray.length > 0">
            <div class="col-md-12">
                <table class="table table-responsive table-striped">
                    <thead>
                        <tr>
                            <th style="width:38%;">Diagnosis</th>
                            <th>ICD Code</th>
                            <th>Description</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in addeddiagnosisArray" class="diagnosisClass">
                        <td> {{x.description}} </td>
                        <td> {{x.icdCode}} </td>
                        <td>
                          <input type="text" style="width: 80%;" id="freetextcallid_{{$index}}"> 
                        </td>
                        <td> 
                          <span ng-click="removeDiagnosis(addeddiagnosis1.icdCode)"> x </span> 
                        </td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <a href="javascript:void(0);" ng-click="openProgressModal(12,progressArray.assesment)" >
            <u>Assesment</u>
        </a>

        <ul class="textwrap">
            {{progressArray.assesment}}
            <span ng-click="removeDialogText(12)" ng-hide="progressArray.assesment == '' || progressArray.assesment == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(13,progressArray.planOfCare)">
            <u>Plan of Care</u>
        </a>

        <ul class="textwrap">
            {{progressArray.planOfCare}}
            <span ng-click="removeDialogText(13)" ng-hide="progressArray.planOfCare == '' || progressArray.planOfCare == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);" ng-click="openProgressModal(14,progressArray.followUp)" >
            <u>Follow Up</u>
        </a>

        <ul class="textwrap">
            {{progressArray.followUp}}
            <span ng-click="removeDialogText(14)" ng-hide="progressArray.followUp == '' || progressArray.followUp == undefined" style="font-weight: bold;">&times;
      </span>
        </ul>

        <a href="javascript:void(0);"  ng-click="selectCPT()">
          Billing Details
        </a>
        <br>
        <ul style="display:inline-flex;list-style:none;" class="textwrap">
            <li ng-repeat="x in CPTArray  track by $index">
                {{x}} <span ng-show="CPTArray.length >= 1" ng-click="removeSelectedCptBilling(x)">&times;</span>
                <span ng-if="!$last">,</span> &nbsp;
            </li>
        </ul>



        <div class="row">
            <div class="col-md-12 text-center lock-doc-progress-btn">
                <button class="btn btn-primary" ng-click="saveCallRecord(progressArray,addeddiagnosisArray,CPTArray,userCallData,0)" id="lockBTN0">Save</button>
                <button class="btn btn-primary" ng-click="lockEncounter(progressArray,addeddiagnosisArray,CPTArray,userCallData,1)" id="lockBTN1">Lock the Encounter</button>
                <!-- <button class="btn btn-primary" ng-click="downloadPDF(progressArray,addeddiagnosisArray,CPTArray,userCallData)" id="lockBTN2">Download PDF</button> -->
            </div>
        </div>
        </div>


    </div>
</div>


<script type="text/ng-template" id="progressNoteLockModal.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Lock the Encounter</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <p>
            Are you sure you want to lock the encounter? After locking the encounter, you will not be able to edit, although you can enter addenda as needed. Alternatively, you can save the entries now and come back later to finish charting.
        </p>
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="lockPpoupEncounter()">Lock</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>




<script type="text/ng-template" id="progressNoteModal.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">{{modalHead}}</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <div class="form-group">
            <textarea class="form-control" rows="3" ng-model="modalInputValue">{{modalInputValue}}</textarea>
        </div>
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="saveProgressNote(modalInputValue)">Save</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="CPTProgressNoteModal.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Select CPT Billing</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <p ng-repeat="x in cptBilling track by $index" class="justified-text">
          <input type="checkbox" ng-model="cptCode" ng-change="selectedCPTCode(cptCode,x.code)"> {{x.code}} - {{x.description}}

        </p>
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Save</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script type="text/ng-template" id="CallDisconnectedPatient.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Call disconnected by patient</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="callDisconnect(2)">Ok</button>
    </div>
</script>


<script type="text/ng-template" id="CallDisconnectedPop1.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Are you sure you want to end the call?</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="callDisconnect(1)">Yes</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="CallDisconnectedPop2.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Was your call successful?</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <p>If you mark the call successful, patient will be removed from the waiting room.</p>
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="callSuccess()">Yes</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">No</button>
    </div>
</script>

<script type="text/ng-template" id="inviteThirdPersonCallDoc.html">
    <div class="modal-header bootstrap-modal-header invitePopBG invitePopupHeader">
        <span ng-click="cancel()">&times;</span>
        <h3 class="modal-title invitePopupHeading" id="modal-title ">Invite Participants</h3>
    </div>
    <div class="modal-body bootstrap-modal-body padding-left-right-0" id="modal-body">
        <div class="invitePopupBody">
            <div class="input-group header-input-group">
                <input type="text" id="foo" value="{{meetingRoomURLResolve}}" onkeypress="return false;" 
                    class="form-control">
                <button class="btn btn-primary inviteCopyBtn" ngclipboard data-clipboard-target="#foo" onclick="openToast()">
                    <i class="fa fa-files-o"></i> COPY
                </button>
            </div>            
        </div>
        <div class="inviteModelBodyChild">

        	<ul class="nav nav-pills custom-invite-pills">
			    <li class="active"><a  data-toggle="pill" data-target="#email">EMAIL</a></li>
			    <li><a data-toggle="pill" data-target="#sms">SMS</a></li>
			</ul>
			<div class="tab-content text-center">
			    <div id="email" class="tab-pane fade in active">
			     	<p>Note:</p>
	            	<p>Mail this link to your Participants</p>
		            <div class="input-group header-input-group">
		                <input type="email" class="form-control" ng-model="inviteFriendEmail" placeholder="Enter your participant's email id...">
		                <button class="btn btn-primary inviteCopyBtn" ng-disabled="!inviteFriendEmail" 
		                        ng-click="inviteOtherFriendMeeting(inviteFriendEmail,meetingRoomURLResolve)">
		                    <i class="fa fa-envelope-o"></i> EMAIL
		                </button>
		            </div>
			    </div>
			    <div id="sms" class="tab-pane fade">
			      <p>Note:</p>
	            	<p>Text this link to your Participants</p>
		            <div class="input-group header-input-group">
		            	<input type="text" class="form-control" 
			    				name="phone" mask="(999) 999-9999" clean="true" ng-model="inviteFriendPhone" 
			    				onkeypress="return isNumberKey(event)" placeholder="Enter your participant's number..."
			    				>
		                <button class="btn btn-primary inviteCopyBtn" ng-disabled="!inviteFriendPhone" 
		                        ng-click="inviteOtherFriendMeetingSMS(inviteFriendPhone,meetingRoomURLResolve)">
		                    <i class="fa fa-comment-o"></i> SEND
		                </button>
		            </div>
			    </div>
			  </div>
			</div>
	</div>

    <!-- <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Copy</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
    </div> -->
</script>

<!-- ab addNewCallPop (030718) -->
<script type="text/ng-template" id="addNewCallPop.html">
    <div class="modal-header bootstrap-modal-header">
        <h3 class="modal-title" id="modal-title">Add New Call</h3>
    </div>
    <div class="modal-body bootstrap-modal-body" id="modal-body">
        <input type="text" ng-model="numToDial" class="form-control" name="">
    </div>
    <div class="modal-footer bootstrap-modal-footer">
        <button class="btn btn-primary" type="button" ng-click="makeCall(numToDial)">Call</button>
        <button class="btn btn-primary" type="button" ng-click="cancel()">close</button>
    </div>
</script>



<style type="text/css">
ul.doc-call-options{
    position: absolute;
    bottom: 15px;
    left:38%;
}

#layout {
                /*position: absolute;*/
                top: 120px;
                left: 0;
                right: 0;
                bottom: 0;
                /*background-color: #fff;*/
                
            }

            #layout > div {
                background-color: #000;
                display: inline-block;
                border: 1px solid #fff;

                transition-property: all;
                transition-duration: 0.5s;
            }

.OTSubscriberClass{
    position:absolute;
    transition:all 1s ease;
}

.inviteModelBodyChild ul.custom-invite-pills{
	text-align: center;
	margin-left: 30%;
}
.inviteModelBodyChild ul.custom-invite-pills li{
	width: 120px;
	background: #dcdcdc;
	cursor:pointer;
}
.inviteModelBodyChild ul.custom-invite-pills li a{
	padding: 7px 15px;
}

.inviteModelBodyChild{
    padding:20px;
}
.invitePopBG{
    background:transparent !important;  
    border-bottom:none.;
}
.invitePopBG h3{
    color: #333 !important;
}


.inviteModelBodyChild p{
    padding:0px !important;
}
.inviteModelBodyChild p:first-child{
    font-weight:600; 
}
.inviteModelBodyChild .header-input-group{
    display: inline-flex;
    width: 60%;
    margin-top:7px;

}

.padding-left-right-0{
    padding-left:0px;
    padding-right:0px;
}

.invitePopupHeader span{
    float:right;
    font-size:30px;
    color:#333;
    margin-right:5px;  
}

.invitePopupHeader h3.invitePopupHeading{
    font-size: 23px !important;
    padding: 12px;
}



.invitePopupBody{
    padding-left:0px;
    padding-right:0px;
}
.invitePopupBody .header-input-group{
    padding: 20px;
    background: #FAFBFC;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.invitePopupBody .header-input-group input{
    box-shadow: none;
    margin-bottom: 15px;
    border: none;
    background: transparent;
    text-align: center;
    color: #333;
    font-weight: 600;
    font-size: 15px;
}

.invitePopupBody button.inviteCopyBtn{
    margin: 0 auto;
    display: block;
}




.invite-people-pop-class{
    float: none;
    margin-top:4%;

}

table tbody tr.diagnosisClass span{
  position: relative;
  z-index: 10;
}
  .box-for-diagnosis{
    position: absolute;
    border: 1px solid #dcdcdc;
    background: #808080;
    width: 100%;
    height: 118px;
    z-index: 9;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .box-for-diagnosis ul li span{
    position: relative;
    z-index: 10;
    color:#fff;
  }

    .lock-doc-progress-btn .btn {
        margin-bottom: 15px;
    }
    .bootstrap-modal-body p.justified-text{
      text-align: justify;
    }
    /*.disconnect-pop1-class{
        margin: 0 auto;
        float:left;
        margin-right: 0;
    }*/
    .modal-sm {
        float: right;
        margin-right: 14%;
        margin-top: 10%;
    }
    .bootstrap-modal-body p {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    .bootstrap-modal-header {
        background: #25406B;
        padding: 8px;
    }
    .bootstrap-modal-header h3.modal-title {
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
    .bootstrap-modal-footer {
        padding: 5px;
    }
    #videos {
        position: fixed;
        width: 50%;
        height: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    #subscriber {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    #publisher {
        position: absolute;
        width: 360px;
        height: 240px;
        bottom: 0px;
        left: 3px;
        z-index: 100;
        border: 1px solid white;
        border-radius: 3px;
    }
/*    .doc-call span {
        z-index: 999;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
        width: 80%;
    }
    .doc-call span i {
        transform: rotate(139deg);
        -webkit-transform: rotate(139deg);
        -moz-transform: rotate(139deg);
        background: #e61515;
        padding: 12px 13px 12px 16px;
        border-radius: 100%;
        margin-bottom: 5px;
        color: #fff;
        text-align: center;
        font-size: 17px;
        cursor: pointer;
    }*/
</style>
<!-- <script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();  
    $('input[name="phoneNumber"]').mask('(999) 999-9999'); 
});
</script> -->