<loading></loading>
 <div class="row call-patient">
    <div class="col-md-12 text-center">
    	<h3>Meeting Details</h3>
        <div class="table-responsive">
        	<table class="table table-bordered table-striped" style="width:50%;margin:0 auto;margin-top:30px;">
    		<thead>
    			<th>Date</th>
    			<th>Duration</th>	
                <th>Actions</th>   
    		</thead>
    		<tbody style="text-align:left;">
    			<tr>
    				<td>{{meetingData.date}}</td>
    				<td>{{meetingData.duration}} mins</td>
    				<td>
                        Unclaimed
                    </td>
    			</tr>
    		</tbody>
    		</table>	
        </div>
    </div>
    <div class="col-md-12 text-center">
    	<button class="btn btn-active" ng-click="gotoDocMeetings()" style="margin-top:20px;"> Back </button>
    </div>
    
</div>
