<loading></loading>
<div class="row doc_calllog_div_box"> 	
	<div class="col-md-offset-1 col-md-10 text-center"> 
		<div class="panel panel-info">
			<div class="panel-heading">Patient Call Logs </div> 
			<div class="panel-body">
				<table class="table table-responsive table-hover table-bordered table-striped">
					<thead>
						<tr class="text-left">
							<th></th>
							<th>MRN</th>
							<th>Name</th>
							<th>Consulted on</th>
							<th>Call Duration</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-left" ng-repeat="x in callLogData | orderBy:'':true  track by $index">
							<td>
								<span  ng-if="x.is_call_locked == 1">
									<i class="fa fa-lock"></i>
								</span>
								<span  ng-if="x.is_call_locked == 0">
									<i class="fa fa-unlock-alt"></i>
								</span>
							</td>
							<!-- <td>{{$index + 1}}</td> -->
							<td>{{x.patient_id | convertToSixDigitMRNFilter}}</td>
							<td>{{x.first_name}} {{x.last_name}}</td>
							<td>{{x.call_started | date : 'MM/dd/yyyy'}}</td>
							<td>{{x.call_duration }}</td>
							<td ng-if="isWCStaffCallLog == true" ng-click="viewWCStaffLog(x)">
								<i class="fa fa-eye"> </i>
							</td>
							<td ng-if="isWCStaffCallLog == false" ui-sref="charting({'id':x.id})" ng-click="savePatientCallLogData(x)">
								<i class="fa fa-eye"> </i>
							</td>
							<!-- <td ui-sref="charting({'id':x.id})" ng-click="savePatientCallLogData(x)"> <i class="fa fa-eye"> </i> </td> -->
						</tr>
					</tbody>
					
				</table>
			</div>
		</div>
	</div>
</div>

