<loading></loading>

<div class="row call-patient">

    <div class="col-md-12 text-center">

        <form method="POST" ng-submit="createMeetings()"  style="width:30%;margin:0 auto;" autocomplete="off">

        	<div class="form-group">

        		<label>Date:</label>

        		<input class="form-control"  id="datepicker" ng-model="ctrl.date" format="MM-DD-YYYY HH:mm" ng-model-options="{ updateOn: 'blur' }" 

                placeholder="Select appointment date" moment-picker="ctrl.input" required>

        	</div>

        	<div class="form-group">

        		<label>Duration:</label> 

        		<input type="text" maxlength="2"  class="form-control" 
                onkeypress="return isNumberKey(event)"
                ng-model="meeting.duration" name="duration" required>

        	</div>

        	<div class="form-group">

        		<input type="submit" class="btn btn-primary">
                <button class="btn btn-active" ng-click="gotodachboard()">Cancel</button>

        	</div>

        </form>

    </div>

</div>