<loading></loading>
<div class="row">
	<div class="col-md-offset-1 col-md-10 text-center">
		<div class="panel panel-info">
			<div class="panel-heading">Patient Charting  </div> 
			<div class="panel-body">
				<div  data-ng-include="'./app/common/template/pdfCharting.tpl.html'"></div>
			</div>
		</div>
	</div>
</div>




<style type="text/css">
	    .modal-sm {
        margin-top: 10%;
    }
    .bootstrap-modal-body p {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    .bootstrap-modal-header {
        background: #25406B;
        padding: 8px;
    }
    .bootstrap-modal-header h3.modal-title {
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
    .bootstrap-modal-footer {
        padding: 5px;
    }
</style>