
<loading></loading>
<div class="modal-header">
    <h3>Edit Meetings </h3>
</div>
<form  method="POST" ng-submit="saveEditedMeetingDetails(meetingDetail)" novalidate autocomplete="off">
    <div class="modal-body">
        <!-- NAME -->
        <div class="form-group" >
            <label>Date  </label>
            <input class="form-control"
               ng-model-options="{ updateOn: 'blur' }"
               moment-picker="meetingDetail.date"
               start-view = "day"
               id="startDate"
               ng-model="startDate.date"> 
        </div>

        <div class="form-group">
            <label>Duration</label>
            <input type="text" maxlength="2"  class="form-control"  onkeypress="return isNumberKey(event)" 
                ng-model="meetingDetail.duration" name="duration" required>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
