<loading></loading>
 <div class="row margin-left-col-5 doc_dash_header">
     <div class="col-md-7">
         
         <div class="panel panel-info">
             <div class="panel-heading">Pre-Call Test</div>
             <div class="panel-body">
                 <p>Using the pre-call test is a great way to prevent problems during a live video session. Many times when users have a bad video experience, it's because their connectivity is poor but they are unaware of it. For example, they can be using a sub-optimal network and if they simply choose a better network, they'll have a productive positive experience. Simply click on the icon below to initiate the pre-call test. </p>
                 <div style="text-align: center;font-size: 30px;cursor: pointer;">
                     <i class="fa fa-wifi" style="color:#25406B" ng-click="checkNetwork()" aria-hidden="true"></i>
                 </div>
             </div>
         </div>
         
     </div>
</div>

<!-- <div  data-ng-include="'./app/common/template/chatBox.tpl.html'"></div> -->

<div class="row chatTemplate" id="chatRoom" >
</div>



<style>
   .OT_root{
       display:none !important;
   }
  .dasibledclass {
      color:green;
        $("li").css('pointer-events', 'none');
        $("li").css('cursor', 'not-allowed');
        $("li").attr("title", "Already on another Call");
    }
    .classs {
       color:yellow
    }
</style>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
         
        
    })
    
  
</script>