<!DOCTYPE html> 
<html>
    <head> 
        <meta charset="utf-8"> 
        <title>Express.js example</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body class="home" ng-app="myApp" ng-controller="loginctrl"> 

        <article class="textLeft" id="main">
            <!-- <img class="logo" src="images/nodejs-logo.png">
            <h1>Example Form</h1>
            <p>Enter some info and then click "Submit"</p> -->
            <div>
                <form method="POST" id="testForm" ng-submit="sendData()">
                  <label>Name:</label>
                  <input type="text" name="firstName" ng-model="fname"><br>
                  <label>Password:</label>
                  <input type="text" name="lastName" ng-model="password">
                  <button type="submit" id="submitButton">Submit</button><img class="ajaxLoader" src="images/ajax-loader.gif">
                </form>
            </div>
            <section id="post-results-container">
              <h2>POST DATA</h2>
              <p>Here is the data you posted:</p>
              <ul class="data"></ul>
            </section>
        </article>

      <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
      <!-- <script type="text/javascript" src="js/form-handler.js"></script> -->
    </body> 
    <div style="display: none;"><button class="btn btn-primary" ng-click="sendmail()">Sendmail</button></div>
</html>
<script type="text/javascript">
        var app = angular.module('myApp', []);
        app.controller('loginctrl', function($scope, $http) {
            $scope.sendData = function()
             { 
                $http({
                method  : 'POST',
                url     : 'http://localhost:3000/save',   
                data    : $.param({username:$scope.fname, password:$scope.password}), 
                headers : {'Content-Type': "application/x-www-form-urlencoded"}
                })
                 
                .then(function() { 
                  window.location.replace('/join');
                });         
             }

             $scope.sendmail = function(){

             }
        });
</script>
<script type="text/javascript">
/*var app = angular.module('myApp', []);
  app.controller('loginctrl', function($scope, $http) 
    { $scope.sendData = function() 
      { 
        alert($scope.fname);
        $http.get('/save',({'username':$scope.fname})). then(function(response) 
        { console.log("posted successfully"); }).catch(function(response) { console.error("error in posting"); }) } });*/
</script>