/* media for ipad screen */
@media only screen and (max-width: 768px) {
	#contentBlock{
		min-height:75%;
	}

    .onLineDocPanel{
        width:40% !important;
        z-index:2;
    }
}

/* media for iphone screen */
@media only screen and (max-width: 414px) {
	#contentBlock{
		min-height:70%;
	}
}
