<loading></loading>
<div class="row room-verification">
	<div class="col-md-offset-1 col-md-10">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				Verify your identity
			</div>
			<div class="panel-body"> 
				<p>
					For your security, we need to verify your identity before we let you check in. For this, we just sent you a temporary verification code to 
					<strong ng-if="verifyData.type == 'phone'">
						{{usEncodedNumber}}
					</strong>
					<strong ng-if="verifyData.type != 'phone'">
						{{verifyData.value}}
					</strong>

					. Once you receive the code, enter it in the box provided below:
				</p>
				<form  method="POST" ng-submit="verifyOTP(verifyCode)">
					<div class="input-group">
	  					<input type="text"  maxlength="6"  onkeypress="return isNumberKey(event)" class="form-control" placeholder="Verification Code" ng-model="verifyCode">
	  					<span class="input-group-addon">
	  						<button class="btn btn-primary" type="submit" ng-disabled="!(verifyCode.length == 6)">Verify</button>			
	  					</span>
					</div>	
				</form>
				
				<p>
					Didn't receive the code or the code didn't work? <a  href="javascript:void(0);" ng-click="resendOTP()">Resend</a>
				</p>
				<p>
					<button class="btn btn-primary" ui-sref="room({'id':roomAlias})"> Back </button>
				</p>
			</div>
		</div>
	</div>
</div>

<style type="text/css">
	.modal-sm {
        float:none;    
        margin-top:15%;
	}
	.bootstrap-modal-body p {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    .bootstrap-modal-header {
        background: #25406B;
        padding: 8px;
    }
    .bootstrap-modal-header h3.modal-title {
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
    .bootstrap-modal-footer {
        padding: 5px;
    }
    @media only screen and (max-width: 600px) {
       .input-group {
           width: 60% !important;
       }
   }
</style>
