<loading></loading>
<div class="row user-medication-history">
	<div class="col-md-12">
		<div class="panel panel-info">
  			<div class="panel-heading text-center">Confirm the patient's medical history</div>
  			<div class="panel-body">
    			<div class="row">
    				<div class="col-md-12">
    					<h5>Medications</h5>		
    					<div class="form-group">
    						<input type="text" name="" class="form-control" ng-model="medication" 
    						 ng-keypress="searchMedications(medication)">
    						<!--<button class="btn btn-primary">Add</button>-->
    						<div class="dynamic_search" ng-if="medicationFound">
    							<ul>
    								<li ng-repeat="x in allMedications" ng-click="addMedication(x)">
    									{{x}}
    								</li>
    							</ul>
    						</div>
    					</div>
    					<div class="col-body">
    						<div class="table-responsive">
    							<table class="table table-striped table-hovered">
    								<tbody>
    									<tr ng-repeat="x in medications track by $index">
    										<td>{{$index + 1}}</td>
    										<td>{{x}}</td>
    										<td>
    											<span ng-click="removeMedications(x)" ng-show="medications[0] != 'No Medications'">
    												&times;
    											</span>
    										</td> <!--&#10004;-->
    									</tr>
    								</tbody>
								</table>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<h5>Pre-existing medical conditions</h5>		
    					<div class="form-group">
    						<input type="text" name="" class="form-control" ng-model="condition">
    						<button class="btn btn-primary" ng-click="addCondition(condition)">Add</button>
    					</div>
    					<div class="col-body">
    						<div class="table-responsive">
    							<table class="table table-striped table-hovered">
    								<tbody>
    									<tr ng-repeat="x in conditions track by $index">
    										<td>{{$index + 1}}</td>
    										<td>{{x}}</td>
    										<td>
    											<span ng-click="removeConditions(x)" ng-show="conditions[0] != 'No Pre-existing medical conditions'">
    												&times;
    											</span>
    										</td><!--&#10004;-->
    									</tr>
    								</tbody>
    							</table>
    						</div>
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-md-12">
    					<h5>Allergies</h5>		
    					<div class="form-group">
    						<input type="text" name="" class="form-control" ng-model="allergy" 
    						 ng-keypress="searchAllergies(allergy)">
    						<!--<button class="btn btn-primary">Add</button>-->
    						<div class="dynamic_search" ng-if="allergyFound">
    							<ul>
    								<li ng-repeat="x in allAllergies" ng-click="addAllergy(x.Name)">
    									{{x.Name}}
    								</li>
    							</ul>
    						</div>
    					</div>
    					<div class="col-body">
    						<div class="table-responsive">
    							<table class="table table-striped table-hovered">
    								<tbody>
    									<tr ng-repeat="x in allergies track by $index">
    										<td>{{$index + 1}}</td>
    										<td>{{x}}</td>
    										<td>
    											<span ng-click="removeAllergy(x)" ng-show="allergies[0] != 'No Allergies'">
    												&times;
    											</span>
    										</td> <!--&#10004;-->
    									</tr>
    								</tbody>
								</table>
    						</div>
    					</div>
    				</div>
    			</div>
    			
  			</div>
		</div>		
	</div>
</div>
<div class="row fixed-button-bottom">
	<div class="col-md-12 text-center">
		<button class="cc_button btn-primary"  ui-sref="room.user">Previous</button>
		<button class="cc_button btn-primary" ng-click="userSymptoms()">Next</button>
		<!--userDetail.$invalid || userDetail.$pristine || userDetail.$dirty || !userDetail.$touch"-->
		<button class="cc_button cc_btn-active" ui-sref="room">Cancel</button>	
	</div>
</div>