<loading></loading>
 
<div class="row" ng-show="inactiveAlias == 1">
    <div class="col-md-12 text-center">
        <div class="alert alert-info">
            <p>
                Sorry, but the requested room no longer exists. Please check your URL. It may have been renamed. Please contact your provider for the correct videoconferencing Room URL.
            </p>
        </div>
    </div>
</div>

<div class="row" ng-hide="inactiveAlias == 1">
    <div class="col-md-12 text-center">
        <h4>Tell Us About Yourself</h4>
        <p>Enter your phone number or email address to begin the check-in process 
    </div>
    <div class="room_enter_box"> 
        <div class="form">
            <form class="enter-room form-inline" method="POST" ng-submit="enterRoomForm(useremailphone)" name="enterRoom">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" ng-model="useremailphone"  placeholder=" Phone Number / Email">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default input-group-text" 
                            ng-disabled="(!(isvalidNumber(useremailphone)) && (!isValidEmail(useremailphone)))" >
                        Next
                    </button>
                  </div>
                </div>
                <!-- <div class="form-group">
                    <input type="text" class="form-control" ng-model="useremailphone"  placeholder=" Phone Number / Email">
                </div>
                <button type="submit" class="btn btn-default" ng-disabled="(!(isvalidNumber(useremailphone)) && (!isValidEmail(useremailphone)))" >
                    Next
                </button> -->
            </form>
        </div>
    </div>
</div>


