<loading></loading>
 <div class="row user_room_div_box"> 	
 	<div class="col-md-offset-1 col-md-10 text-center"> 
 		<div class="panel panel-info">
 			<div class="panel-heading">Personal Info </div> 
 			<div class="panel-body">
    			<p ng-show="!!(userMeetingDetails.id)"> 
 					Welcome back   
 					<strong style="text-transform:capitalize; ">{{userMeetingDetails.first_name}} {{userMeetingDetails.last_name}}.</strong>
 					Please verify your information so Dr. <strong>{{docNameFromAlias}}  </strong> can recognize you. 
 				</p>
 				<p ng-show="!(userMeetingDetails.id)"> 
 					Please enter the following information so Dr. <strong>{{docNameFromAlias}}  </strong> can recognize you. 
 				</p>
 				<div class="login-page"> 
  			<div class="form">
			    <form class="" method="POST" name="userDetail" ng-submit="userDetailsForm(userMeetingDetails)" novalidate> 
			    	<!--ng-submit="userDetailsForm(userMeetingDetails)"-->
			    	<div class="row">
			    		<div class="col-md-6">
			    			<div class="form-group">
			    				<label>First Name</label>
			    				<input type="text" name="" class="form-control" placeholder="First Name" ng-model="userMeetingDetails.first_name" ng-disabled="!!(userMeetingDetails.id)"
			    				required>
			    			</div>
			    		</div>
			    		<div class="col-md-6">
			    			<div class="form-group">
			    				<label>Last Name</label>
			    				<input type="text" name="" class="form-control" placeholder="Last Name" ng-model="userMeetingDetails.last_name"  
			    				ng-disabled="!!(userMeetingDetails.id)"
			    				required>
			    			</div>	
						</div>
			    	</div>

			    	<div class="row">
			    		<div class="col-md-6">
			    			<div class="form-group">
			    				<label>Phone Number</label>
			    				<input type="text" class="form-control" 
			    				name="phone" mask="(999) 999-9999" clean="true" ng-model="userMeetingDetails.phone" 
			    				onkeypress="return isNumberKey(event)" placeholder="Phone Number"
			    				ng-disabled="!!userMeetingDetails.id">
			    			</div>
			    		</div>
			    		<div class="col-md-6">
			    			<div class="form-group">
			    				<label>Email</label>
			    				<input class="form-control" type="email" placeholder="  Email address" ng-model="userMeetingDetails.email"
			                    onkeyup="isvalidateEmail(this.value)"
			                    onkeydown="isvalidateEmail(this.value)"
			                    onkeypress="isvalidateEmail(this.value)" 
			                    ng-disabled="!!(userMeetingDetails.id)"  required>
							</div>	
						</div>
			    	</div> 
			    	<div class="row">
			    		<div class="col-md-6">
			    			<div class="form-group">
			    				<label>Date of Birth</label>
			    				<input type="date" name="" class="form-control" placeholder="Date of Birth" 
			    					ng-model="userMeetingDetails.dateofbirth" 
			    					
			    					required>
			    			</div>
			    		</div>
			    		<div class="col-md-6">
			    			<div class="form-group">
			    				<label>Gender</label>
			    				<br>
			    				<label class="radio-inline">
			    					<input type="radio" name="radio" value="male" ng-model="userMeetingDetails.gender"
			    					ng-disabled="!!userMeetingDetails.id"
			    					> Male	
			    				</label>
			    				<label class="radio-inline">
			    					<input type="radio" name="radio" value="female" ng-model="userMeetingDetails.gender" 
			    					ng-disabled="!!userMeetingDetails.id"
			    					> Female 
			    				</label>
			    			</div>	
						</div>
			    	</div>
			    	<div class="row">
			    		<div class="col-md-6">
			    			<div class="form-group">
			    				<label>Street Address</label>
			    				<input type="text" name="" class="form-control" placeholder="Street Address" ng-model="userMeetingDetails.address1"  required>
			    			</div>	
			    		</div>
			    		<div class="col-md-2">
			    			<div class="form-group">
			    				<label>City</label>
			    				<input type="text" name="" class="form-control" placeholder="City" ng-model="userMeetingDetails.city"  required>
			    			</div>	
			    		</div>
			    		<div class="col-md-2">
			    			<div class="form-group">
			    				<label>State</label>
			    				<select   class="form-control" ng-model="userMeetingDetails.state" 
			    				  	ng-options="x as x for x in usStates" required>

			    					<option value="">Select</option>
			    				</select>
			    			</div>	
			    		</div>
			    		<div class="col-md-2">
			    			<div class="form-group">
			    				<label>Zip</label>
			    				<input type="text" name=""  maxlength="5" ng-model="userMeetingDetails.zip_code"  onkeypress="return isNumberKey(event)"  class="form-control" placeholder="Zip"  required>
			    			</div>	
			    		</div>
			    	</div>
			    	<div class="row terms-user">
			    		<div class="col-md-12">
			    			<p> 
			    				<input type="checkbox" ng-model="isTermsChecked"> 
			    				I accept the <a href="https://akosmd.com/terms-of-service" target="_blank">
			    					Terms and Conditions
			    				</a> 
			    			</p>
			    		</div>
			    	</div>
			    	<div class="center-custom-buttons">
			    		<button class="cc_button btn-primary" ui-sref="room">Previous</button>	
			    		<button class="cc_button btn-primary" ng-click="userMedicalHistory()"  ng-disabled="!userMeetingDetails.email || !isTermsChecked">
			    			Next
			    		</button>
			    		<!--userDetail.$invalid || userDetail.$pristine || userDetail.$dirty || !userDetail.$touch"-->
			    		<button class="cc_button btn-active" ui-sref="room">Cancel</button>
			    	</div>
			    	
	    			
	    			
	    				
			    	
			    </form>
  			</div>
		</div>

  			</div>
 		</div>
 		
 		

 		
 	</div>
</div>
