<loading></loading>
<div class="row room-call">
	<div class="col-md-12">
        <div>
            <div class="alert alert-info" style="text-align: center;">
               
                <p><strong>{{appConfig.messages['callEndThanksMsg'].message}}</strong></p>
            </div>
        </div>
	</div>
</div>





<style type="text/css">

    .modal-sm {
        float:none;    
        margin-top:10%;
    }
    .bootstrap-modal-body p {
        font-size: 14px;
        padding: 10px;
        text-align: center;
    }
    .bootstrap-modal-header {
        background: #25406B;
        padding: 8px;
    }
    .bootstrap-modal-header h3.modal-title {
        color: #fff;
        font-size: 16px;
        text-align: center;
    }
    .bootstrap-modal-footer {
        padding: 5px;
    }
    
</style>


